.form-container-2 {
    padding: 0px 25px;
    height: 100%;
    width: 100%;
}

.form-sub-container-2 {
    padding: 0px 25px;
    overflow-x: auto;
    overflow-y: auto;
    width: 100%;
    height: 85%;
    white-space: nowrap;
}

.form-row {
    display: flex;
    justify-content: space-around;
}

.form-col {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 15px 25px;
}

.form-container-2 input {
    width: 100%;
    padding: 6px;
    margin: 2px 0px;
}

.form-sub {
    font-size: 14px;
    font-weight: bold;
}

.patient-info-banner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.form-row-1 {
    display: flex;
    align-items: center;
}

.form-sub {
    margin-right: 20px;
}

.center-letters {
    text-align: center;
}

.bold-letters {
    font-weight: bold;
}

.red-letters {
    color: red;
}

.green-letters {
    color: green;
}

.orange-letters {
    color: orange;
}

.left-space {
    margin-left: 20px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9999;
    /* Additional styles for overlay appearance */
}

.overlay-container {
    height: 95%;
    margin: 20px;
    background-color: aliceblue;
    padding: 10px 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
    background-color: #F3F4F2;
    min-width: 700px;
}