/* .menu-container {
    position: fixed;
    top: 40px;
    left: 20px;
    width: auto;
    background-color: #1D3557;
    z-index: 999;
    transition: transform 0.3s ease-in-out;
} */

.menu-container {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.menu-container ul {
    list-style: none;
}

.menu-container ul li {
    color: #ffffff;
    font-weight: bold;
    font-size: 12px;
    padding: 10px 15px;
    cursor: pointer;
}

.menu-container ul li:hover {
    background-color: #2f425e;
    color: #d2d0d0;
    font-size: 11px;
}

.menu-container.open {
    transform: translateX(0);
}

.menu-container.closed {
    transform: translateX(-100%);
}

.menu-container.start {
    position: fixed;
    top: 40px;
    left: 20px;
    width: auto;
    background-color: #1D3557;
    z-index: 999;
    transition: transform 0.3s ease-in-out;
}

.menu-container.end {
    position: fixed;
    top: 40px;
    right: 20px;
    width: auto;
    background-color: #1D3557;
    z-index: 999;
    transition: transform 0.3s ease-in-out;
}