.main-container {
    height: 100%;
    width: 100%;
}

.flex-row {
    display: flex;
    padding: 0px 0px 4px 0px;
    align-items: center;
}

.flex-row-spread {
    display: flex;
    justify-content: space-between;
}

.big {
    font-size: 20px;
}

.close {
    cursor: pointer;
}

.close:hover {
    color: rgb(53, 52, 52);
}

.flex-item {
    margin-right: 15px;
    font-weight: 600;
}

.flex-row input {
    padding: 4px;
}

.flex-label {
    margin-right: 20px;
}