.custom-table-container {
    width: 100%;
    height: 90%;
    overflow-x: auto;
    overflow-y: auto;
}

.custom-table {
    text-align: center;
    width: 100%;
    border-collapse: collapse;
    border-radius: 5px 5px 0px 0px;
    overflow: hidden;
    margin: 5px 0px;
    table-layout: auto;
}

.custom-table th,
.custom-table td {
    border: 1px solid #ccc;
    padding: 4px 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.custom-table td {
    cursor: pointer;
}

.custom-table thead th {
    background-color: #b7cce5;
    font-weight: 600;
    font-size: 15px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.custom-table tbody tr {
    font-size: 15px;
}

.custom-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.custom-table tbody tr:hover {
    background-color: #e9e9e9;
    font-size: 14px;
}