.overlay-box {
    width: 100%;
    margin: 55px 10px 10px 10px;
    background-color: #F3F4F2;
    border-radius: 10px;
    padding: 10px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.flex-box {
    display: flex;
    justify-content: space-around;
    height: 50%;
}