.form-container {
    padding: 0px 25px;
    height: 100%;
    width: 100%;
}

.form-sub-container {
    padding: 0px 25px;
    overflow-x: auto;
    overflow-y: auto;
    width: 100%;
    height: 95%;
    white-space: nowrap;
}

.form-row {
    display: flex;
    justify-content: space-around;
}

.form-col {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 15px 25px;
}

.form-container input,
.form-container select {
    width: 100%;
    padding: 6px;
    margin: 2px 0px;
}

.form-sub {
    font-size: 14px;
    font-weight: bold;
}

.create-patient-banner {
    display: flex;
    justify-content: space-between;
}

.popup-message {
    position: fixed;
    bottom: 20px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1D3557;
    color: #ffffff;
    border-radius: 4px;
    padding: 10px 20px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
    animation: fade-out 2s ease-in-out forwards;
    z-index: 9999;
    width: max-content;
    white-space: nowrap;
    margin: 0 auto;
}

@keyframes fade-out {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    90% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(100%);
    }
}