* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #164B60;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#title-header {
  font-size: 40px;
  color: grey;
  line-height: 1.8em;
}

#logo-title {
  font-size: 40px;
  color: #A2FF86;
  margin-bottom: 20px;
}